*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --transition-two: 0.3s ease-in-out all;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
    --fluid-width: 90vw;
    --primary-500: hsl(21, 62%, 45%);
    --primary-700: hsl(21, 81%, 29%);
    --primary-700: hsl(21, 81%, 29%);
    --grey-500: #64748b;
    --grey-700: #334155;

  }
body{
font-family: 'Poppins', sans-serif;
    background: var(--clr-grey-10);;
}
ul {
    list-style-type: none;
    
  }
  a {
    text-decoration: none;
    color: blue;
  }
  h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* Navbar */
/* nav {
    box-shadow: var(--light-shadow);
  }
   */
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-center {
    width: var(--fluid-width);
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }
  .nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
  }
  .toggle-container {
    position: relative;
    margin-top: 0.75rem;
  }
  .toggle-cart{
    background: transparent;
    border-color: transparent;
    font-size: 1.6rem;
    color: black;
    cursor: pointer;
  }
  .cart-item-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--primary-500);
    width: 1.75rem;
    height: 1.75rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
  }
  .logo {
    height: 40px;
  }
  .links a {
    color: blue;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
  }
  .links a:hover {
    background: var(--clr-primary-8);
    color: blue;
    padding-left: 1.5rem;
  }
  .social-icons {
    display: none;
  }
  .links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
  }
  .show-links {
    height: 20rem;
  }
  .scroll-link{
    display: none;

  }

@media screen and  (min-width: 800px) {

    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        position: relative;
      }
      .nav-header {
        padding: 0;
      }
      .nav-toggle {
        display: none;
      }
      .links {
        height: auto;
        display: flex;
      }
      .links a {
        padding: 0;
        margin: 0 0.5rem;
      }
      .links a:hover {
        padding: 0;
        background: transparent;
      }
      .social-icons {
        display: flex;
      }
      .social-icons a {
        margin: 0 0.5rem;
        color: var(--clr-primary-5);
        transition: var(--transition);
      }
      .social-icons a:hover {
        color: var(--clr-primary-7);
        
      }
      .nav-logo {
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
      }
      .scroll-link{
        color: var(--white);
    margin-right: 3rem;
    letter-spacing: 2px;
    transition: 0.3s ease-in-out all;
    font-size: 1.25rem;
      }
      .intro {
          margin-bottom: 10px;
          /* padding-top: 10px; */
      }
     
    }
    @media screen and (min-width: 992px) {
      .nav-logo {
        left: 50%;
      }
    }
p{
    color: black;
    font-weight: bold;
}

.container{
    max-width: 1170px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
   
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2 {
 flex-basis: 50%;
 min-width:300px;
 padding-right: 10%;

}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 30px;
    line-height: 60px;
    margin: 35px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
.btn:hover{
    background: #563434;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 20%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
 width: 100%;
 max-width: 350px;
       
}

.small-categories{
  width: 1080px;
  margin: 0 auto;
  padding-left:  25px;
  padding-right: 25px;

}
.col-2 p {
    margin: 0 auto;
    padding: auto 20px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 75%;

}
.title{
    text-align: center;
    margin: 0 auto ;
    position: relative;
    line-height: 60px;
    color: #555;
}

.underline {
  height: 0.25rem;
  width: 5rem;
  background: #ff523b;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.col-4 p{
    font-weight: bold;
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
/*------------------offer---------*/
.offer{
   
    background:  radial-gradient(#fff,#ffd6d6);
    margin-top: 50px;
    padding: 10px 0;
}
/* offer section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 3rem;
    width: 95vw;
  }
  .gift-img {
    margin-bottom: 0;
  }
}
.gift-info p {
  margin: 2rem 0;
}



/*--------------testimonial--------------*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    padding: 40px 20px;
    text-align: center;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*--------------brands---------------*/

.brands{
    margin: 30px 0 30px;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor:pointer;
    max-width: 100px;
    filter: grayscale(50%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/*--------------------footer--------*/
.footer{
    background: var(--clr-grey-1);;
    color: #8a8a8a;
    font-size: 14px;
    margin-bottom: 0;
}
.footer p{
color: white;
padding-bottom: 10px;
margin-bottom: 0;
letter-spacing: var(--spacing);
}
.footer h3{
    color: red;
    margin-bottom: 10px;
    font-weight: bolder;
    padding-top: 5px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 10px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-1 p{
    color: red;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
    cursor: pointer;
}

ul{
    list-style-type: none;
}
li{
    color: blue;
    font-weight: bold;
} 

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
    
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 38px;
    margin-left: 20px;
    display: none;
}
.row-2{
    justify-items: space-around;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span {
    display: inline-block;
    border: 1px solid black;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-weight: bold;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}
.top-link {
    font-size: 3rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: var(--clr-secondary);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: var(--radius);
    color: #ff523b;
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden; 
    z-index: -100;
  }
  .show-link {
    visibility: visible;
    z-index: 100;
  } 
  
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
/* ------------------countdown Timer********************** */
  .deadline {
    display: flex;
  }
  .deadline-format {
    background: var(--clr-grey-1);
    color: var(--clr-white);
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
    display: grid;
    place-items: center;
    text-align: center;

  }
  .deadline-format span {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
  }
  .deadline h4:not(.expired) {
    font-size: 1rem;
    margin-bottom: 0.25rem;
    letter-spacing: var(--spacing);
  }

  /* -----------------
  Product Icons 
  ------------------*/

  
  .col-4 {
    position: relative;
  }
  .product-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: flex;
    transition: var(--transition-two);
  }
  .product-icon {
    width: 2.25rem;
    height: 2.25rem;
    background: var(--primary-500);
    color: white;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: var(--transition-two);
    cursor: pointer;
    font-size: 1rem;
    border-color: transparent;
    margin: 0 0.5rem;
  }
  .product-icon:hover {
    background: var(--primary-700);
  }
  .col-4:hover .product-icons {
    opacity: 1;
  }

  /* -----------------
  CART
  -------------------- */

  .cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: var(--transition-two);
    opacity: 0;
    z-index: -1;
  }
  .cart-overlay.show {
    opacity: 1;
    z-index: 100;
  }
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 400px;
    background: var(--grey-100);
    padding: 3rem 1rem 0 1rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    transition: var(--transition-two);
    transform: translateX(100%);
    overflow: scroll;
  }
  .show .cart {
    transform: translateX(0);
  }
  .cart-close {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--grey-500);
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    cursor: pointer;
  }
  .cart header {
    text-align: center;
    line-height: 1;
  }
  .cart header h3 {
    font-weight: 500;
    margin-bottom: 0;
  }
  .cart-total {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 500;
  }
  .cart-checkout {
    display: block;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  /* cart item */
  .cart-item {
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 1.5rem;
    align-items: center;
  }
  .cart-item-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: var(--radius);
  }
  .cart-item-info {
    line-height: 1;
  }
  .cart-item-name {
    margin-bottom: 0;
    font-size: 0.85rem;
    color: black;
  }
  .cart-item-info p {
    font-size: 0.75rem;
    color: #222;
    margin-bottom: 0.25rem;
    display: inline-block;
    font-weight: bolder;
  }
  .cart-item-remove-btn {
    display: block;
    background: transparent;
    border-color: transparent;
    color: black;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 0;
  }
  .cart-item-amount {
    margin-bottom: 0;
    text-align: center;
    line-height: 1;
    display: block;
    color: #222;
  }
  .cart-item-increase-btn,
  .cart-item-decrease-btn {
    background: transparent;
    border-color: transparent;
    color: var(--primary-500);
    cursor: pointer;
    font-size: 0.85rem;
    padding: 0.25rem;
  }

  /* @media screen and (min-width: 992px) {
    .col-4 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  } */





    
    
    
    
    
    
    
    
    
    
    
    
    
    
    







